@charset "utf-8";
/* font-family: 'Luckiest Guy', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
/* font-family: 'Black Han Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
/*  font-family: 'Jeju Hallasan', cursive; */
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
/* font-family: 'Oswald', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
/* font-family: 'Angkor', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Angkor&display=swap");
/* font-family: 'Kanit', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;600;800&display=swap");
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #0b0f1c;
}
header {
  z-index: 999;
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  border-bottom: 1px #fff solid;
  transition: 0.4s;
  box-sizing: border-box;
}
header ul {
  /* background-color: aqua; */
  position: absolute;
  right: 5%;
  top: -1;
  display: flex;
  font-size: 1.8rem;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}
header ul a {
  cursor: pointer;
  width: 8rem;
  height: 4rem;
  line-height: 3.5rem;
  text-align: center;
  transition: 0.2s;
  position: relative;
  display: block;
  width: 100%;
  height: 4rem;
  text-decoration: none;
  color: inherit;
  padding: 0 1.5rem;
}
header ul a:after {
  position: absolute;
  top: 3rem;
  left: 11.5%;
  display: block;
  content: "";
  width: 80%;
  height: 8px;
  background-color: #fff;
  background-color: #000000;
  transform: scaleX(0);
  transition: transform 380ms ease-in-out;
}

header ul a:hover {
  color: #000000;
  background-color: #fff;
}
header ul a:hover:after {
  transform: scaleX(1);
}
header p {
  position: absolute;
  left: 5%;
  width: 3.5rem;
  height: 3.5rem;
  text-indent: -9999px;
  background: url(./images/logo.png) no-repeat 50% 115%;
  background-size: 100%;
}

.upto {
  position: fixed;
  bottom: 3rem;
  right: 4rem;
  z-index: 999999;
  text-indent: -9999px;
  background: url(./images/Arrow-yellow.png) no-repeat 50% 50% / contain;
  background-size: 25px;
  border: 1px solid #ffb629;
  width: 3rem;
  height: 3rem;
  /* background-color: #5d3299; */
  cursor: pointer;
  opacity: 0;
  transition: 250ms;
}
.upto-add {
  opacity: 1;
}
.upto:hover {
  border-radius: 50%;
}
.upto:active {
  animation: upto linear 0.5s;
  border-radius: 50%;
}
@keyframes upto {
  100% {
    transform: translateY(-20px);
  }
}

.aft-noon {
  height: 75rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.aft-noon .posi-1 {
  position: absolute;
}

/* z-index크면 클수록 더앞 */
.back {
  /* display: none; */
  bottom: 0;
  width: 100%;
  height: 100%;
}
.sun-light {
  /* left: 50%;
  top: 30%; */
  /* transform: translate(-50%, -50%); */
  width: 100%;

  /* animation: sun-light 2s ease-in-out infinite alternate; */
  animation: sun-light infinite linear 4s;
}
.sun-light-w {
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  /* background-color: #fff; */
  width: 40%;
  /* background-color: #ffb629; */
}
/* .sun-light2 {
  width: 45%;
  background-color: #5d3299;
} */
.sun {
  /* display: none; */
  left: 50%;
  /* top: 58%; */
  top: 70%;
  transform: translate(-50%, -50%);
  width: 40%;
  /* margin-top: 500px; */
}
.sea {
  /* display: none; */
  bottom: 0;
  width: 100%;
  height: 37%;
}
.clouds {
  /* background-color: violet; */
  width: 100%;
  animation: clouds 180s infinite linear;
  left: -100px;
}
.cloud1 {
  /* display: none; */
  width: 70%;
  top: 0;
  left: -40%;

  animation: cloud1 2s ease-in-out infinite alternate;
}
.cloud2 {
  width: 70%;
  top: 7rem;
  right: -30%;
  /* display: none; */
  animation: cloud2 2s ease-in-out infinite alternate;
}
.rock-bg1 {
  /* display: none; */
  width: 100%;
  bottom: 20rem;
  /* transform: translateY(100px); */
}
.rock-bg2 {
  width: 100%;
  bottom: 21rem;
  /* display: none; */
}
.rock1 {
  left: 5rem;
  bottom: 22rem;
  width: 7%;
  /* display: none; */
}
.rock2 {
  right: 5rem;
  bottom: 22rem;
  width: 7%;
  /* display: none; */
}
/* animation: scale 2s ease-in-out infinite alternate; */
/* animation: cloud2 2s ease-in-out infinite alternate; */
/* animation: cloud1 2s ease-in-out infinite; */
/* animation: rock-bg1 2s ease-in-out ; */
/* key frame */
@keyframes cloud1 {
  0% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}

@keyframes cloud2 {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-5%);
  }
}
@keyframes sun-light {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes clouds {
  0% {
    transform: translatex(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.aft-noon h1 {
  z-index: 9;
  font-size: 3.5rem;
  padding: 0;
  margin: 0;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  border: #fff 3px solid;
  width: 30rem;
  text-align: center;
  height: 8rem;
  line-height: 7.5rem;
  font-family: "TTWanjudaedunsancheB", sans-serif;
}

main {
  display: flex;
  margin-bottom: 20rem;
  position: relative;
}

/* aside */

aside {
  position: sticky;
  top: 3rem;
  background-color: transparent;
  width: 35%;
  height: 90vh;
  margin: 0;
  overflow: hidden;
}

.bg-moon {
  width: 27.3%;
  height: 100%;
  /* background-color: aqua; */
  background-image: url(./images/moon-back.png);
  background-size: 77%;
  position: absolute;
  left: 0;
}
.none {
  display: none;
}
.moon-1 {
  transform: scale(2.5, 2.5);
  left: 103%;
  top: -50%;
  transition: 1s;
}
.active1 {
  transform: rotate(-179.99deg);
}
/*내가한게 다시되돌아오게하는거였음;*/
.moon-2 {
  left: 115%;
  top: -58%;
  transform: rotate(-180deg);
  transition: 1s;
}
.active2-1 {
  transform: scale(2.8, 2.8);
}
.active2-3 {
  transform: scale(3.5, 3.5) rotate(-180deg);
}
.active2-2 {
  transform: rotate(-170deg);
}

.moon-3 {
  left: 140%;
  top: -78%;
  transition: 1s;
}

/* 하고 다시 90deg주면 됨 */

.posi-3 {
  position: absolute;
}

aside .intro {
  border-right: 1px solid #ffb629;
  height: 100%;
}
aside .hei {
  height: 12rem;
}
.intro p {
  padding-top: 1rem;
  padding-left: 2rem;
}
aside .intro-1 {
  position: absolute;
  right: 175px;
  background-color: #5d3299;
  width: 17rem;
  border-radius: 50px;
  margin-top: 2rem;
  font-family: "Angkor", cursive;
  font-size: 1.5rem;
}
aside .intro-2 {
  margin-top: 2rem;
  position: absolute;
  right: 80px;
  background-color: #ffb629;
  width: 14rem;
  /* width: 40%; */
  border-radius: 50px;
  font-size: 1.2rem;
  text-align: left;
  font-family: "Kanit", sans-serif;
  font-weight: 800;
}

/* article project */
article {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 10px; */
  /* text-transform: uppercase; */
  /* background-color: #ffb629; */
}
article .wid {
  width: 90%;
}
article .project {
  margin: 15rem 0;
  font-family: "Pretendard";
}

article .project .wrapper {
  display: flex;
  justify-content: center;
  /* background-color: #ffb629; */
}
article .project .text_wrapper {
  position: relative;
  width: 40%;
}
article .project .text_wrapper h1 {
  font-size: 3.5rem;
  padding-top: 3rem;
}
article .project .text_wrapper p:nth-of-type(1) {
  padding-top: 2rem;
  /* padding-left: 1rem; */
}
article .project .text_wrapper p {
  font-size: 1.5rem;
}
article .project .text_wrapper ul {
  /* background-color: aqua; */
  display: flex;
  margin-top: 2rem;
  gap: 3rem;
  /* justify-content: space-evenly; */
  font-size: 1.3rem;
  width: 20rem;
}
.pro-1 h1 {
  font-family: "Jeju Hallasan", cursive;
}
.pro-2 h1 {
  font-family: "Black Han Sans", sans-serif;
  /* font-family: "Luckiest Guy", cursive; */
  text-transform: uppercase;
}

article .project img {
  vertical-align: top;
}
article .project .btn {
  font-size: 1rem;
  display: block;
  color: #fff;
  text-decoration: none;
  position: absolute;
  right: 10rem;
  bottom: 3rem;
  padding: 20px 50px;
  background: url(./images/articlebtn.png) no-repeat 50% / cover;
}
article .project .btn p {
  position: absolute;
  top: 0;
  right: 8px;
  text-indent: -99999px;
  width: 2.5rem;
  background: url(./images/Arrow.png) no-repeat 50% 50% / contain;
  background-size: 20px;
  /* background-color: #ffb629; */
}
article .project .btn:hover p {
  animation: view 0.8s ease-in-out infinite alternate;
}
.project h3 {
  text-indent: -9999px;
  width: 500px;
  height: 500px;
  background-color: #ffb629;
}
.project:nth-of-type(1) h3 {
  background-size: 900px;
  background: url(./images/jejuminsocchon.png) no-repeat 50% 50% / cover;
}
.project:nth-of-type(2) h3 {
  background: url(./images/Mint-Festa-2023-list.png) no-repeat 20px 20px / cover;
}

@keyframes view {
  0% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(8px);
  }
}

article .project:nth-of-type(4) {
  margin-bottom: 20rem;
}

/* article .skill */

article .skill {
  border: solid #ffb629 1px;
  margin: 3rem 0;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
article .s_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  /* background-color: #ffb629; */
}

article .s_box .skill_flex_wid {
  display: flex;
  justify-content: center;
  width: 50%;
}
article .s_box h3 {
  align-items: center;
  font-size: 2.8rem;
  /* background-color: violet; */
}
article .s_box ul {
  padding-right: 3rem;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 1.8;
  /* background-color: #ffb629; */
  /* width: 40%; */
  font-family: "Pretendard", serif;
  font-weight: 300;
}
article .skill h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  line-height: 1.1;
}
/* morning */
.posi-2 {
  position: absolute;
}
.morning {
  margin: 0 auto;
  height: 75rem;
  position: relative;
  overflow: hidden;
}
.morning .mor-text-wrapper {
  position: relative;
  z-index: 9999;
  /* height: 20%; */
  /* width: 40%; */
  width: 30rem;
  /* background-color: #ffb629; */
  position: absolute;
  bottom: 16.5%;
  left: 1rem;
}
.morning h1 {
  position: absolute;
  /* background-color: #5d3299; */
  font-size: 4rem;
  bottom: 25.5%;
  left: 2rem;
  font-weight: 800;
  z-index: 9999;
  font-family: "Kanit", sans-serif;
}
.morning .mor-text-wrapper a {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  transition: 0.5s;
  font-family: "Pretendard", serif;
  font-weight: 500;
}
.morning .mor-text-wrapper a:hover {
  transform: translate(30px);
}
.email-t p {
  background-color: #5d3299;
  background: url(./images/google.png) no-repeat 50% 50% / contain;
  background-size: 3rem;
}
.git-t p {
  background: url(./images/github.png) no-repeat 50% 50% / contain;
  background-size: 3rem;
  /* background-color: violet; */
  border-radius: 50px;
}
.mor-t1 {
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  line-height: 1.8;
  /* text-shadow: 6px 8px 5px #000; */
}
.mor-t1 p {
  /* background-color: turquoise; */
  width: 4rem;
  height: 3rem;
  text-indent: -9999px;
}
.mor-text-wrapper-1 {
  position: absolute;
  z-index: 9999;
  bottom: 23.5%;
  right: 20px;
  font-size: 2rem;
  text-align: right;
  font-family: "Pretendard", serif;
  line-height: 1.6;
}
.mor-text-wrapper-1 span {
  font-weight: 800;
}

.mor-sun {
  top: 50%;
  right: 20%;
  z-index: 99;
  width: 30%;
}

.mor-back {
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.mor-cloud {
  left: 50%;
  top: 15%;
  transform: translate(-50%);
  width: 80%;
  z-index: 99;
}
.mor-sea {
  bottom: -3rem;
  width: 100%;
  height: 60%;
  z-index: 999;
}
.mor-ship {
  width: 8rem;
  bottom: 5rem;
  right: 40%;
  z-index: 9999;
  cursor: pointer;
}
.ship-ani {
  animation: ship 2s ease-in-out infinite alternate;
}
.mor-2 {
  opacity: 0;
}
.mor-3 {
  opacity: 0;
}
.mor-4 {
  opacity: 0;
}

@keyframes ship {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
