header .toggle {
  top: -100rem;
  /* top: 0; */
  position: absolute;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  /* display: none; */
  transition: 1s;
}
.t-to {
  margin-top: 100rem;
}
.t-btn-c {
  transition: 0.5s;
  fill: #fe001a;
}

.toggle .h-bottom-line {
  position: absolute;
  bottom: 0;
  height: 4rem;
  width: 100vw;
}
.toggle .h-top-line {
  position: absolute;
  height: 4rem;
  top: 0;
  width: 100vw;
  transform: rotate(180deg);
}
.toggle .h-t-img img {
  width: 100%;
}
.toggle ul {
  height: 100%;
  width: 33%;
}
.toggle ul li:nth-of-type(1) {
  padding-top: 22rem;
}
.toggle ul li {
  margin-bottom: 0.5rem;
}
.toggle ul a {
  color: #fe001a;
  font-size: 6rem;
  font-weight: 700;
}
.h-logo2 {
  text-indent: -9999px;
  width: 26.2rem;
  height: 6.5rem;
  margin: 15rem 15rem 0 20rem;
  background: url(./images/cokekorealogored.svg) no-repeat 50% 50% /100%;
}
.h-logo2 a {
  display: block;
  width: 100%;
  height: 100%;
}
.sns-logo {
  position: absolute;
  bottom: 6rem;
  right: 18rem;
  height: 8rem;
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
/* .sns-logo a:nth-of-type(1) img {
  width: 5.3rem;
  height: 3.9rem;
}
.sns-logo a:nth-of-type(2) img {
  width: 4.8rem;
  height: 3.9rem;
}
.sns-logo a:nth-of-type(3) img {
  width: 3.9rem;
  height: 3.9rem;
}
.sns-logo a:nth-of-type(4) img {
  width: 2.2rem;
  height: 3.9rem;
} */
.sns-logo a:nth-of-type(1) img {
  width: 6.3rem;
  height: 4.9rem;
}
.sns-logo a:nth-of-type(2) img {
  width: 5.8rem;
  height: 4.9rem;
}
.sns-logo a:nth-of-type(3) img {
  width: 4.9rem;
  height: 4.9rem;
}
.sns-logo a:nth-of-type(4) img {
  width: 3.2rem;
  height: 4.9rem;
}
.sns-logo p {
  border: #fe001a 0.2rem solid;
  border-radius: 50%;
  transition: 0.5s;
  font-size: 1.8rem;
}
.sns-logo p a {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  width: 7.5rem;
  height: 7.5rem;
  color: #fe001a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sns-logo p:hover {
  transform: scale(0.8);
}
.to-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.toggle ul a {
  transition: 0.5s;
}
.toggle ul a:hover {
  margin-left: 3rem;
}
.toggle .sns-logo img {
  transition: 0.5s;
}
.toggle .sns-logo img:hover {
  transform: scale(0.8);
}

/* 8888888888888888888888888888888 */
.sss {
  /* background-color: aqua; */
  width: 4.5rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
  z-index: 999;
}
.sss div {
  border-radius: 5rem;
  height: 7rem;
  width: 7rem;
  position: absolute;
  top: -1.45rem;
  left: -1.5rem;
  background-color: #fe001a;
  opacity: 0;
  transition: 0.6s;
}
.sss .one {
  opacity: 1;
}
.sss span {
  position: absolute;
  display: block;
  width: 4.5rem;
  height: 0.5rem;
  border-radius: 3rem;
  background-color: #ffffff;
  transition: 0.5s;
}
.sss span:nth-of-type(1) {
  top: 0;
}
.sss span:nth-of-type(2) {
  top: 50%;
}
.sss span:nth-of-type(3) {
  top: 100%;
  transition: 0.3s;
}
.ss-margin {
  margin: none;
}

/* toggle시 일단 하버로 */
.sss .sp-1 {
  z-index: 99;
  width: 5rem;
  transform: rotate(44deg);
  transform-origin: 0% 100%;
}
.sss .sp-2 {
  z-index: 99;
  margin-top: 2.1rem;
  left: 0.2rem;
  width: 5rem;
  transform: rotate(-45deg);
  transform-origin: 0% 50%;
}
.sss .sp-3 {
  opacity: 0;
}
/* ------------------- */
.toggle ul {
  opacity: 0;
  transition: 3.5s;
}
.toggle .sns-logo {
  opacity: 0;
  transition: 3.5s;
}
.toggle .to-opacitiy {
  opacity: 1;
}
