html {
  font-size: 0.521vw;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  text-transform: capitalize;
  font-family: "Pretendard", sans-serif;
}
/* header */
.h-posi {
  position: absolute;
}
header {
  color: #ffffff;
  z-index: 99999;
  position: fixed;
  width: 100%;
  height: 10.5rem;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header p {
  position: relative;
  z-index: 99;
}
.header p svg {
  transition: 0.8s;
}
.header .f-wh {
  width: 10%;
  height: 15.5rem;
  display: flex;
  align-items: center;
}

.header a {
  margin-left: 20rem;
  justify-content: right;
}
.header a img {
  width: 18rem;
}

.header p img {
  width: 4rem;
}
#t-btn svg {
  cursor: pointer;
}
/* header toggle */

/* title */
.title {
  position: relative;
  background-color: #000000;
  height: 118vh;
  overflow: hidden;
}
.t-posi {
  position: absolute;
}
.title h3 {
  text-indent: -9999px;
  z-index: 9;
  background-color: rgb(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
}
.youtube-coke {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/ 9;
}
.t-txt {
  z-index: 99;
  color: #ffffff;
  top: 20%;
  left: 50%;
  width: 65%;
  transform: translate(-50%, 50%);
}
.t-txt h1 {
  font-size: 6rem;
  font-weight: 700;
  padding-bottom: 1.6rem;
  letter-spacing: 0.3rem;
}
.t-txt h2 {
  font-size: 4rem;
  font-weight: 400;
}

/* main */
main {
  background-color: #fe001a;
  overflow: hidden;
}

/* middle */
.middle {
  padding: 15.5rem 0;
}
.middle .bx1 {
  height: 864px;
  height: 86.4rem;
  margin: 10rem 0;
}
.middle .bx2 {
  height: 126.4rem;
  background: url(./images/middlewhitebx.svg) no-repeat;
  color: #ffffff;
}
.middle .bx3 {
  height: 864px;
  height: 86.4rem;
  margin-top: 10rem;
}
/* 텍스트 조절 */
.middle .txt-bx h1 {
  font-size: 3.5rem;
  font-weight: 700;
  padding-bottom: 2rem;
}
.middle .txt-bx h2 {
  font-size: 2.8rem;
  font-weight: 500;
  padding-bottom: 2.5rem;
}
/* 사진이랑 말칸 위치조절 */
.m-bx article {
  justify-content: center;
  align-items: center;
}
article h3 {
  position: absolute;
  /* width: 1176px;
  height: 736px; */
  width: 117.6rem;
  height: 73.6rem;
  background-color: turquoise;
  text-indent: -9999px;
}
.bx1 h3 {
  /* top: 0;
  right: 0; */
  transform: rotate(2.63deg);
  background: url(./images/middle1.png) no-repeat 50% 50% / cover;
}
.bx1 .txt-bx {
  transform: rotate(-1.32deg);
  /* top: 10%; */
}
.middle .bx1 article {
  justify-content: center;
}
.bx2 h3 {
  transform: rotate(-2.63deg);
  background: url(./images/middle2.png) no-repeat 50% 50% / cover;
}
.bx2 .txt-bx {
  transform: rotate(1.32deg);
}
/* txt 위치 */
.bx1 .txt {
  margin-top: 3%;
  width: 52%;
}
.bx2 .txt {
  width: 58%;
  margin-left: 4%;
}
.bx3 .txt {
  margin-top: 3%;
}
.middle .bx2 article {
  justify-content: center;
  align-items: center;
}
.middle .bx3 article {
  justify-content: center;
  align-items: center;
}
.bx3 h3 {
  /* bottom: 0;  */
  transform: rotate(2.63deg);
  background: url(./images/middle3.png) no-repeat 50% 50% / cover;
}
.bx3 .txt-bx {
  transform: rotate(-1.32deg);
  /* top: 23%; */
}

.middle .bx3 article {
  justify-content: center;
}
.m-bx {
  display: flex;
  color: #fe001a;
}
.txt-bx {
  position: relative;
  width: 63.854%;
  height: 71%;
  /* height: 613px; */
  /* background-color: aqua; */
}
.txt-bx .cap {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* 텍스트 정렬 */
.txt-bx .txt {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 화살표 각자 정렬 */
.txt-bx p {
  text-align: right;
}
.txt-bx p img {
  width: 4.9rem;
}
.bx2 .txt-bx p {
  text-align: left;
}
article p img:hover {
  animation: arrow 0.8s ease-in-out infinite alternate;
}
@keyframes arrow {
  100% {
    transform: translateX(11px);
  }
}

/* flex 50% 50% 해줄려고 */
.middle article {
  width: 50%;
  position: relative;
  display: flex;
}
/* stories */
.stories1 {
  position: relative;
  height: 144rem;
  margin-top: 12.8rem;
  /* background: turquoise; */
}
.stories1 img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.s-txt {
  position: absolute;
  width: 100%;
  top: 38%;
  margin: 0 auto;
  text-align: center;
}
.stories1 h1 {
  font-size: 5rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.stories1 h2 {
  font-size: 3rem;
  font-weight: 700;
}

/* slogan */

.s-wrapper {
  font-family: "ITC Souvenir Std";
  font-weight: 800;
  font-size: 13.5rem;
  height: 25.6rem;
  background-color: turquoise;
}
.s-flex {
  height: 50%;
  display: flex;
  background-color: tomato;
}
.s-wrapper {
  height: 42rem;
}
.s-wrapper span {
  margin: 0 3rem;
}
.top {
  align-items: end;
  color: #ffffff;
  background-color: #fe001a;
}
.top span {
  animation: top 3s infinite alternate linear;
}
@keyframes top {
  100% {
    transform: translate(10);
  }
}
@keyframes bottom {
}
.bottom {
  color: #fe001a;
  background-color: #ffffff;
}
.stories2 {
  background: url(./images/stories2.png) no-repeat 50% 50% / 100%;
  height: 111.2rem;
  position: relative;
}
.stories2 h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.stories2 h2 {
  font-size: 3rem;
  font-weight: 700;
}
.s2-txt {
  color: #ffffff;
  top: 23rem;
  left: 20rem;
  position: absolute;
  width: 75rem;
}
/*  */
footer {
  height: 49.5rem;
  background-color: #ffffff;
  color: #fe001a;
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.f-logo a {
  background: url(./images/cokekorealogored.svg) no-repeat 50% 50% / 100%;
  /* background-color: aqua; */
  display: block;
  width: 26.2rem;
  height: 5.6rem;
  text-indent: -9999px;
}
footer nav {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.6;
}

footer nav a {
  padding-left: 1.5rem;
  position: relative;
  z-index: 1;
}
/* footer nav a:hover {
  background-color: yellow;
  transform: skewX();
} */
footer nav a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

footer nav a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
footer nav a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgb(255, 255, 0, 0.65);
  z-index: -1;
  transition: transform 0.3s ease;
}
footer .rule {
  display: flex;
  gap: 2rem;
}
footer .rule a {
  height: 3rem;
  margin-top: 0.78rem;
}
footer .rule p {
  line-height: 3rem;
}

footer .f-hei {
  width: 150rem;
  height: 17rem;
}
footer .f-hei:nth-of-type(1) {
  display: flex;
  justify-content: space-evenly;
}
footer .f-hei:nth-of-type(2) {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 130rem;
}
footer .f-hei:nth-of-type(2) p {
  padding-bottom: 1rem;
  padding-bottom: 1.5rem;
}
.f-sns-logo a:nth-of-type(1) img {
  width: 5rem;
}
.f-sns-logo a:nth-of-type(2) img {
  width: 5rem;
}
.f-sns-logo a:nth-of-type(3) img {
  width: 4.5rem;
}
.f-sns-logo a:nth-of-type(4) img {
  width: 2.5rem;
}
.f-sns-logo a:nth-of-type(5) {
  display: block;
  font-weight: 700;
  box-sizing: border-box;
  width: 28.8rem;
  height: 7.2rem;
  border: 1px solid #fe001a;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-sns-logo {
  display: flex;
  flex-wrap: wrap;
  width: 28.8rem;
  justify-content: space-around;
  align-items: center;
  height: 15rem;
  padding-right: 1rem;
}
/* 
900 
800
700 bold 
600
500 medium
400 regular
300
200
100
*/
/* mix-blend-mode: difference; */
